# ==========================================
# AMBIENTE VIRTUAL E DEPENDÊNCIAS
# ==========================================
.venv/
venv/
ENV/
env/
lib/
bin/
include/

# ==========================================
# CACHE DO PYTHON E OPERAÇÕES DO STREAMLIT
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.streamlit/config.toml
.streamlit/secrets.toml

# ==========================================
# DADOS (Proteção para dados brutos pesados)
# ==========================================
data/raw/*
data/processed/*
!data/processed/igr_processed.csv

# ==========================================
# IDs DE EDITORES E ARQUIVOS DO SISTEMA
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ==========================================
# LOGS E ARQUIVOS TEMPORÁRIOS
# ==========================================
*.log
*.tmp
